spring:
  config:
    activate:
      on-profile: dev
    import:
      - optional:file:./.env[.properties]
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  web:
    resources:
      add-mappings: false
  datasource:
    url: jdbc:h2:mem:test;
    driver-class-name: org.h2.Driver
    username: root
  h2:
    console:
      enabled: true
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      access-token-expiration: 3600      # 1 hour
      refresh-token-expiration: 604800   # 1 week
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
  sql.init.mode: always
  data:
    redis:
      host: redis
      port: 6379
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
            protocols: TLSv1.2
        debug: true

springdoc:
  api-docs:
    path: /api-docs # API 문서 생성 경로
    groups:
      enabled: true
  swagger-ui:
    path: /index.html # Swagger-ui 경로
    enabled: true
    groups-order: asc
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  cache:
    disabled: true
  override-with-generic-response: false
  model-and-view-allowed: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

cloud:
  naver:
    s3:
      bucket: kbuddybucket
      region: kr-standard
      endPoint: https://kr.object.ncloudstorage.com
      accessKey: ncp_iam_BPAMKR5Sbh4W2XBQ4FkV
      secretKey: ncp_iam_BPKMKRDDHPLjypEmVTxa88pFPGGQuFa2V7